<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerlinks')%>
    <title>CONTACT</title>
</head>
<body>
    <div id="main">
        <%- include('partials/navbar')%>
            <div class="mil">
            </div>
            <div id="page3">
                <div id="gco">
                    
                    <div id="gallerytxt">
                        
                        <!-- <h1>GALLERY</h1> -->
                    </div>
                <div class="row">
                    <div class="column">
                        <a href="pp/pp1.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp1.jpg" alt="">
                        </a>
                        <a href="pp/pp2.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp2.jpg" alt="">
                        </a>
                        <a href="pp/pp3.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp4.jpg" alt="">
                        </a>
                        <a href="pp/pp4.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp4.jpg" alt="">
                        </a>
                    </div>
                    <div class="column hide">
                        <a href="pp/pp5.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp5.jpg" alt="">
                        </a>
                        <a href="pp/pp6.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp6.jpg" alt="">
                        </a>
                        <a href="pp/pp7.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp7.jpg" alt="">
                        </a>
                        <a href="pp/pp8.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp8.jpg" alt="">
                        </a>
                    </div>
                    <div class="column hide">
                        <a href="pp/pp9.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp9.jpg" alt="">
                        </a>
                        <a href="pp/pp10.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp10.jpg" alt="">
                        </a>
                        <a href="pp/pp11.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp11.jpg" alt="">
                        </a>
                        <a href="pp/pp12.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp12.jpg" alt="">
                        </a>
                      </div>
                      <div class="column hide">
                        <a href="pp/pp13.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp13.jpg" alt="">
                        </a>
                        <a href="pp/pp14.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp14.jpg" alt="">
                        </a>
                        <a href="pp/pp15.jpg" data-lightbox="models" dta-title="Caption1" >
                            <img src="pp/pp15.jpg" alt="">
                        </a>
                        </div>
                    </div>
                </div>
                
                
            </div>
    </div>
    <script src="./jq/jquery.js" type="text/javascript"></script>
    <script src="./js/bootstrap.js" type="text/javascript"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>