<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerlinks')%>
    <title>VIDEO</title>
</head>
<body>
    <div id="main">
        <%- include('partials/navbar')%>
        <%- include('partials/comingsoon')%>                   
    </div>
</body>
</html>