<div id="vidmain">
    <div class="nil">
    </div>
    <%- include('./homebackvid')%>
    <div id="txts"> 
        <div id="ha1">
            <h1>Coming Soon</h1>
            <!-- <h1>Coming Soon</h1>
                <h1>Coming Soon</h1> -->
        </div>
    </div>
</div>